
footer {
    width: 100%;
    background-color: #E60012;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}


.top-footer {
    background-color: #EEEDED;
    color: black;
    padding: 20px;
}

.top-footer p {
    margin: 5px 0;
    font-size: 14px;
}

.btn-horario {
    background-color: #E60012;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 20px; 
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 
}

.btn-horario:hover {
    background-color: #c00010;
}


.middle-footer {
    background: none;
    background-color: transparent ;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: none;
}


.middle-footer nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.middle-footer nav a {
    background: none;
    background-color: transparent;
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    border: none ;
    box-shadow: none ;
    text-decoration: none;
}

.middle-footer * {
    background: none ;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.middle-footer nav a:hover {
    text-decoration: underline;
}


.social-icons {
    background-color: #FF0000;
    padding: 15px 0;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}


.bottom-footer {
    display: flex;
    justify-content: space-around;
    background-color: #B91D32;
    padding: 30px ;
    flex-wrap: wrap;
}

.bottom-footer .address,
.bottom-footer .contact {
    text-align: left;
}

.bottom-footer p {
    margin: 5px 0;
    font-size: 14px;
}


.links {
    background-color: #B91D32;
    padding: 10px 0;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}


.copyright {
    background-color: #E60012;
    padding: 10px 0;
    font-size: 14px;
}
